* {
  all: unset;
  margin: unset;
  padding: unset;
}

window,
box,
label,
button,
image {
  background-color: transparent;
  margin: unset;
  padding: unset;
}

window.spotify-lyrics-preview {
  background-color: rgba(0, 0, 0, 0.8);
}

.spotify-lyrics-root {
  padding: 0 10px;
}

.control-btn {
  color: #ffffff;
  background-color: transparent;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  padding: 0px 10px 0px 0px;
}

.control-btn:hover {
  color: #1db954;
}

.left-section {
  min-width: 220px;
}

.track-info {
  color: #b3b3b3;
  font-family: "Ubuntu", sans-serif;
  font-size: 11px;
  font-weight: 500;
}

.spotify-logo {
  min-width: 14px;
  min-height: 14px;
}

.lyrics-text {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.01em;
}
