* {
  all: unset;
}

window,
box,
label,
button,
image {
  background-color: transparent;
}

.spotify-lyrics-preview {
  margin: 0px;
}

window.spotify-lyrics-preview {
  background-color: rgba(0, 0, 0, 0.8);
}

.spotify-lyrics-root {
  border-radius: 10px;
  padding: 0px 8px;
}

.controls {
  padding: 0px 4px;
}

.control-btn {
  color: #ffffff;
  background-color: transparent;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  padding: 0px 10px;
}

.control-btn:hover {
  color: #1db954;
}

.track-info {
  color: #b3b3b3;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.spotify-logo {
  margin: 0px;
}

.lyrics-text {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin-left: 8px;
}
